name: Commit Stage

on:
  push:
    branches:
      - main

jobs:
  validate_s3:
    name: Validate S3
    uses: ./.github/workflows/commit-stage--validate-terraform.yml
    with:
      path: 01-setup-s3-for-remote-state
    secrets:
      scw_access_key: ${{ secrets.SCW_ACCESS_KEY }}
      scw_project_id: ${{ secrets.SCW_PROJECT_ID }}
      scw_secret_key: ${{ secrets.SCW_SECRET_KEY }}

  validate_cluster:
    name: Validate Cluster
    uses: ./.github/workflows/commit-stage--validate-terraform.yml
    with:
      path: 02-setup-cluster
    secrets:
      scw_access_key: ${{ secrets.SCW_ACCESS_KEY }}
      scw_project_id: ${{ secrets.SCW_PROJECT_ID }}
      scw_secret_key: ${{ secrets.SCW_SECRET_KEY }} 

  validate_cert_manager:
    name: Validate Cert Manager
    uses: ./.github/workflows/commit-stage--validate-terraform.yml
    with:
      path: 03-setup-cert-manager
    secrets:
      scw_access_key: ${{ secrets.SCW_ACCESS_KEY }}
      scw_project_id: ${{ secrets.SCW_PROJECT_ID }}
      scw_secret_key: ${{ secrets.SCW_SECRET_KEY }} 

  validate_envoy:
    name: Validate Envoy
    uses: ./.github/workflows/commit-stage--validate-terraform.yml
    with:
      path: 07-envoy
    secrets:
      scw_access_key: ${{ secrets.SCW_ACCESS_KEY }}
      scw_project_id: ${{ secrets.SCW_PROJECT_ID }}
      scw_secret_key: ${{ secrets.SCW_SECRET_KEY }}
  
  validate_secrets:
    name: Validate Secrets
    uses: ./.github/workflows/commit-stage--validate-terraform.yml
    with:
      path: 05-secrets
    secrets:
      scw_access_key: ${{ secrets.SCW_ACCESS_KEY }}
      scw_project_id: ${{ secrets.SCW_PROJECT_ID }}
      scw_secret_key: ${{ secrets.SCW_SECRET_KEY }}
